# disable directory browsing
Options All -Indexes

# enable mod rewrite
RewriteEngine On

# private rewrite
RewriteCond %{REQUEST_FILENAME} \.(js|css|less|jpg|jpe?g|png|gif|webp|eot|otf|svg|woff|woff2|ttf|pdf|gz|ico|html|vue)$ [NC]
RewriteRule ^ - [L]

# default handler # index.php, dev.php
RewriteRule ^(.*)$ www/$1 [L]

#<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin http://bob.gonparty
#</IfModule>