<div class="jumbotron">
    <p>There're many tools that make app deployment simpler, but we made it crazy simple.</p>
    <p>Impero is a service which which simplifies deployments and management of multi service-platforms. It combines
        automatic configuration changes and service reloads on entrypoint and top level services with composing docker
        configuration files and container scaling managed from web interface and project configuration file.</p>
</div>

<div class="row">
    <div class="col-xs-6">
        <h3>Start with Impero</h3>
        <ol>
            <li>
                <p>Create account and your first server. Connect new or existing server by executing:<br/>
                    $ bash <(curl -s https://impero.foobar.si/install-key.sh)</p>
            </li>
            <li>
                <p>Create new application and select project source GIT repository.</p>
            </li>
            <li>
                <p>Configure your /.pckg/pckg.yaml file and commit it.</p>
            </li>
        </ol>
        <h3>Minimum configuration</h3>
        <p>We want to deploy apache webserver with php (foo/web image) and mysql database server (foo/db). Example below
            would be sufficient enough for basic wordpress instalations.</p>
        <pre>
repository: git@bitbucket.org:foo/bar.git
branch: master

system:

  web:
    image: foo/web

  database:
    image: foo/db

resources:

  database:
    system: database
    mysql:
      type: search
      name: foo_db
      foo_user:
        foo_db: basic

services:

  web:
    system: web
    apache:
      root: www
        </pre>
    </div>
    <div class="col-xs-6">
        <h3>Basic commands</h3>
        <p>By adding additional commands you control what happens on each step: init (initialize project), prepare
            (import project defaults and populate database) and deploy (change database schema or execute
            migrations).</p>
        <pre>
init:
   - command:install-dependencies

prepare:
   - php console migrator:install --repository=default --schema
   - php console migrator:install --repository=default --fields
   - php console user:create john@doe.com
   - command:clear-cache

deploy:
   - command:pull-git
   - php console migrator:install --repository=default

commands:

  install-dependencies:
    - yarn install --silent --production
    - composer install --no-dev --optimize-autoloader --ignore-platform-reqs --prefer-dist

  pull-git:
    - git reset --hard
    - git pull --ff
        </pre>
        <h3>Deployment strategy</h3>
        <p>Additionally, there's a section called bring-up where you can tweak steps taken to deploy project.</p>
        <pre>
bring-up:
  resource:database:
  service:web
  command:checkout:
    when:
      - service:web:filesystem:ready
  service:config:
    when:
      - resource:database:ready
      - command:checkout:end
  service:cron:
    when:
      - service:config:ready
        </pre>
    </div>
</div>


<h2>Features</h2>
<h3>About Impero</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Centralized management</h4>
        <p>Impero is Software as a Service which means we take care of infrastructure.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Zero overhead</h4>
        <p>All communication is done through SSH protocol. No services or daemons are installed.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Team collaboration</h4>
        <p>Share server access to users on team and tag access. You can also give them specific privileges.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Scaling</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Load balancing</h4>
        <p>Simply distribute TCP or HTTP/S traffic to any node using roundrobin or any other algorithm.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Database replication</h4>
        <p>Replicate MySQL databases and manage your active and passive master and slave configuration.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Web, API & CLI access</h4>
        <p>Access and manage your infrastructure from web interface, API or CLI.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Features for DevOPs</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Testing</h4>
        <p>Integrate your test service such as Jenkins, Travis, CircleCI, BitBucket pipelines or other cloud testing
            provider into your CI / CD strategy.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Deployment</h4>
        <p>Deploy applications with one click. Connect your GIT repository to Impero application and automatically test,
            build and deploy your project.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Scaling</h4>
        <p>Clone whole web server faster then ever. Use services on bare-metal, vps or docker image.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Automatic updates</h4>
        <p>Don't worry about security updates. We will update supported services by default and let you know about any
            changes.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Storage</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Storage management</h4>
        <p>Manage external storage attached to your server..</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Backups</h4>
        <p>Enable automatic database, storage and configuration local and remote backups to make sure your data is
            safe.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Services</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Dependency management</h4>
        <p>Define which services and dependencies your project needs and let Impero take care of instalment and
            configuration of git, composer, npm or other project dev or production dependency.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Service management</h4>
        <p>Impero offers automated management of popular webservers, load balancers, database and other services.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Smart cronjobs</h4>
        <p>Manage cronjobs with intuitive web interface, review past execution details and configure them in single
            file.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Queue</h4>
        <p>Build apps on top of powerful message broker RabbitMQ and organize your queue.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Supervisor</h4>
        <p>Manage long running tasks, workers and websockets with supervisor.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>SSL management</h4>
        <p>Manage SSL certificates for your websites and applications for free with LetsEncrypt.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Network</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Network management</h4>
        <p>Manage networks for different applications on same server and even services in same application.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Firewall management</h4>
        <p>Allow or deny access to some ports or applications and make your services secure.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<h3>Advanced features</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Enterprise prepared</h4>
        <p>We also offer deploying Impero to dedicated servers managed by us, or managed by you. Contact our sales for
            more info.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Log parser</h4>
        <p>Read apache, mysql, system and other logs in human readable format.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Webhooks</h4>
        <p>Setup some webhooks and watch how your infrastructure changes.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<br/><br/>

<br/><br/>

<table class="table table-fixed">
    <thead>
    <tr>
        <td></td>
        <td>Free</td>
        <td>Pro</td>
        <td>Enterprise</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Number of servers</td>
        <td>2</td>
        <td>10</td>
        <td><i class="fa fa-infinity"></i></td>
    </tr>
    <tr>
        <td>Number of applications</td>
        <td>5</td>
        <td>100</td>
        <td><i class="fa fa-infinity"></i></td>
    </tr>
    <tr>
        <td>Services</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Resources</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Deployments</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Cronjobs</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Firewall</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>API</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Networks</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Backups</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>CLI</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Clone</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Scaling</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Replication</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Load balancing</td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-times clr-error"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Support</td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
        <td><i class="fa fa-check clr-success"></i></td>
    </tr>
    <tr>
        <td>Price per month</td>
        <td>Free</td>
        <td>9$ per server</td>
        <td>19$ per server</td>
    </tr>
    </tbody>
</table>

<h3>Full example</h3>
<p>
<ul>
    <li>Create a <b>server</b> and make sure that ssh connection is successful.</li>
    <li>Create a <b>site</b> and <b>checkout</b> some code from git. Web (<b>apache</b>) and <b>storage</b> services are
        enabled at this point.
    </li>
    <li>Create <b>database</b>, <b>user</b> and set <b>privileges</b>. Database (<b>mysql</b>) service is added at this
        point.
    </li>
    <li>Add a <b>cronjob</b> for website. <b>Cron</b> service is added at this point.</li>
    <li>Enable cold and passive <b>backups</b> for code, config, db and storage with <b>backup</b> service.</li>
    <li>Add another <b>web worker</b>. Loadbalancing (<b>haproxy</b>) is enabled at this point.</li>
    <li>Replicate mysql as active or passive slave for better performance and quicker restore in case backup is
        needed.
    </li>
    <li>Configure ./pckg/pckg.yaml file and integrate /impero API to automatically manage your infrastructure.</li>
</ul>
</p>